library(readr)
Homework_1_Data_436R <- read.csv(file.choose())

#b)
date <- Homework_1_Data_436R$date
dma <- Homework_1_Data_436R$dma
isTreatmentPeriod <- Homework_1_Data_436R$isTreatmentPeriod
isTreatmentGroup <- Homework_1_Data_436R$isTreatmentGroup
revenue <- Homework_1_Data_436R$revenue

paste(date)
as.Date(date, "%m/%d/%Y")
typeof(date)

#c)
StartDate <- date[which(isTreatmentPeriod == 1)][1]
StartDate

#d)
#i.
TreatmentGroup <- subset(Homework_1_Data_436R, isTreatmentGroup == 1)
TreatmentGroup

#ii.
TreatmentRevenue <- lm(log(revenue)~isTreatmentPeriod, data=TreatmentGroup)

#iii.
summary(TreatmentRevenue)

#e)
#i.
PrePeriod <- subset(Homework_1_Data_436R, isTreatmentPeriod == 0)
PrePeriod

#ii.
PrePeriodRevenue <- lm(log(revenue)~isTreatmentGroup, data = PrePeriod)

#iii.
summary(PrePeriodRevenue)

#f)
PostPeriod <- subset(Homework_1_Data_436R, isTreatmentPeriod == 1)
PostPeriod

PostPeriodRevenue <- lm(log(revenue)~isTreatmentGroup, data = PostPeriod)
summary(PostPeriodRevenue)

#g)
library(lubridate)
month <- month(as.POSIXlt(PostPeriod$date, format="%m/%d/%Y"))
month
month <- as.data.frame(month)
PostPeriod <- cbind(PostPeriod, month)
MonthRevenue <- lm(log(revenue)~month+isTreatmentGroup, data = PostPeriod)
summary(MonthRevenue)

